extends layout

block content
  h1.is-size-3 Add a new user!
  form#formAddUser(name="adduser",method="post",action="/adduser")
    input.input#inputUserName(type="text", placeholder="first name", name="username")
    input.input#inputUserEmail(type="text", placeholder="email address", name="useremail")
    button.button.is-primary#btnSubmit(type="submit") submit