extends layout

block content
  h1.
    User List
  ul
  each item in userlist
    li #{item.firstName}

  // USER LIST
  #userList
    h2 Complete list of users in database
    table.table.is-bordered.is-striped.is-fullwidth
      thead
        th first_name
        th email_address
        th job_title
      tbody

  script(src='/javascripts/userPageInteractivity.js')